/*!***************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].oneOf[1].use[1]!./assets/css/backend.css ***!
  \***************************************************************************************************************/
.svg-icon-picker {
    display: flex;
    flex-flow: row wrap;
    gap: 0.25rem 0.75rem;
    align-items: center;
    margin-block-start: 0.25rem;
    .selected-icon {
        background-color: var(--form-bg);
        border: 1px solid var(--content-border);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 3rem;
        width: 3rem;
        svg {
            height: 2.5rem;
            object-fit: contain;
            width: 2.5rem;
        }
    }
    .picker-container {
        background-color: var(--panel-bg);
        border: 1px solid var(--content-border);
        display: none;
        margin-block-start: 0.25rem;
        width: 100%;
        .header {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            .search {
                display: flex;
                flex-flow: row nowrap;
                gap: 1rem;
                align-items: center;
                padding: 0.25rem 1rem;
                label {
                    font-weight: 500;
                }
                .tl_text {
                    background-color: var(--form-bg);
                    max-width: 250px;
                }
            }
            button.close {
                appearance: none;
                background-color: transparent;
                border: none;
                border-left: 1px solid var(--content-border);
                height: stretch;
                transition: background 0.2s ease;
                width: 44px;
                &:hover {
                    background-color: var(--form-button-hover);
                    cursor: pointer;
                }
            }
        }
        .error{
            color: var(--red);
            padding: 1rem;
        }
        .icon-selector {
            background-color: var(--panel-bg);
            border-top: 1px solid var(--content-border);
            display: grid;
            gap: 1px;
            grid-template-columns: repeat(auto-fill, minmax(6rem, 1fr));
            max-height: 600px;
            overflow: auto;
            .icon-item {
                background-color: var(--form-bg);
                cursor: pointer;
                display: flex;
                flex-flow: column;
                gap: 1rem;
                padding: 0.5rem;
                align-items: center;
                text-align: center;
                justify-content: space-between;
                .icon {
                    font-size: 2rem;
                    height: 2rem;
                    line-height: 1;
                    width: 2rem;
                    svg {
                        height: 100%;
                        object-fit: contain;
                        width: 100%;
                    }
                }
                .label {
                    font-size: 0.75rem;
                    opacity: 0.6;
                }
                &:hover {
                    background-color: var(--form-bg-hover);
                }
                &.active {
                    background-color: var(--active-bg);
                }
            }
        }
        turbo-frame {
            background-color: var(--form-bg);
            display: block !important;
            &:has(.loading-spinner) {
                padding-block: 1rem;
            }
        }
        .loading-spinner {
            border: 3px solid var(--content-border);
            border-top-color: var(--contao);
            border-radius: 50%;
            width: 2rem;
            height: 2rem;
            animation: spin 0.8s linear infinite;
            margin-inline: auto;
        }
        &.active {
            display: block;
        }
    }
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}


/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoiYmFja2VuZC5jc3MiLCJtYXBwaW5ncyI6Ijs7O0FBQUE7SUFDSSxhQUFhO0lBQ2IsbUJBQW1CO0lBQ25CLG9CQUFvQjtJQUNwQixtQkFBbUI7SUFDbkIsMkJBQTJCO0lBQzNCO1FBQ0ksZ0NBQWdDO1FBQ2hDLHVDQUF1QztRQUN2QyxhQUFhO1FBQ2IsdUJBQXVCO1FBQ3ZCLG1CQUFtQjtRQUNuQixZQUFZO1FBQ1osV0FBVztRQUNYO1lBQ0ksY0FBYztZQUNkLG1CQUFtQjtZQUNuQixhQUFhO1FBQ2pCO0lBQ0o7SUFDQTtRQUNJLGlDQUFpQztRQUNqQyx1Q0FBdUM7UUFDdkMsYUFBYTtRQUNiLDJCQUEyQjtRQUMzQixXQUFXO1FBQ1g7WUFDSSxhQUFhO1lBQ2IscUJBQXFCO1lBQ3JCLDhCQUE4QjtZQUM5QjtnQkFDSSxhQUFhO2dCQUNiLHFCQUFxQjtnQkFDckIsU0FBUztnQkFDVCxtQkFBbUI7Z0JBQ25CLHFCQUFxQjtnQkFDckI7b0JBQ0ksZ0JBQWdCO2dCQUNwQjtnQkFDQTtvQkFDSSxnQ0FBZ0M7b0JBQ2hDLGdCQUFnQjtnQkFDcEI7WUFDSjtZQUNBO2dCQUNJLGdCQUFnQjtnQkFDaEIsNkJBQTZCO2dCQUM3QixZQUFZO2dCQUNaLDRDQUE0QztnQkFDNUMsZUFBZTtnQkFDZixnQ0FBZ0M7Z0JBQ2hDLFdBQVc7Z0JBQ1g7b0JBQ0ksMENBQTBDO29CQUMxQyxlQUFlO2dCQUNuQjtZQUNKO1FBQ0o7UUFDQTtZQUNJLGlCQUFpQjtZQUNqQixhQUFhO1FBQ2pCO1FBQ0E7WUFDSSxpQ0FBaUM7WUFDakMsMkNBQTJDO1lBQzNDLGFBQWE7WUFDYixRQUFRO1lBQ1IsMkRBQTJEO1lBQzNELGlCQUFpQjtZQUNqQixjQUFjO1lBQ2Q7Z0JBQ0ksZ0NBQWdDO2dCQUNoQyxlQUFlO2dCQUNmLGFBQWE7Z0JBQ2IsaUJBQWlCO2dCQUNqQixTQUFTO2dCQUNULGVBQWU7Z0JBQ2YsbUJBQW1CO2dCQUNuQixrQkFBa0I7Z0JBQ2xCLDhCQUE4QjtnQkFDOUI7b0JBQ0ksZUFBZTtvQkFDZixZQUFZO29CQUNaLGNBQWM7b0JBQ2QsV0FBVztvQkFDWDt3QkFDSSxZQUFZO3dCQUNaLG1CQUFtQjt3QkFDbkIsV0FBVztvQkFDZjtnQkFDSjtnQkFDQTtvQkFDSSxrQkFBa0I7b0JBQ2xCLFlBQVk7Z0JBQ2hCO2dCQUNBO29CQUNJLHNDQUFzQztnQkFDMUM7Z0JBQ0E7b0JBQ0ksa0NBQWtDO2dCQUN0QztZQUNKO1FBQ0o7UUFDQTtZQUNJLGdDQUFnQztZQUNoQyx5QkFBeUI7WUFDekI7Z0JBQ0ksbUJBQW1CO1lBQ3ZCO1FBQ0o7UUFDQTtZQUNJLHVDQUF1QztZQUN2QywrQkFBK0I7WUFDL0Isa0JBQWtCO1lBQ2xCLFdBQVc7WUFDWCxZQUFZO1lBQ1osb0NBQW9DO1lBQ3BDLG1CQUFtQjtRQUN2QjtRQUNBO1lBQ0ksY0FBYztRQUNsQjtJQUNKO0FBQ0o7O0FBRUE7SUFDSTtRQUNJLHlCQUF5QjtJQUM3QjtBQUNKIiwic291cmNlcyI6WyJ3ZWJwYWNrOi8vLy4vYXNzZXRzL2Nzcy9iYWNrZW5kLmNzcyJdLCJzb3VyY2VzQ29udGVudCI6WyIuc3ZnLWljb24tcGlja2VyIHtcbiAgICBkaXNwbGF5OiBmbGV4O1xuICAgIGZsZXgtZmxvdzogcm93IHdyYXA7XG4gICAgZ2FwOiAwLjI1cmVtIDAuNzVyZW07XG4gICAgYWxpZ24taXRlbXM6IGNlbnRlcjtcbiAgICBtYXJnaW4tYmxvY2stc3RhcnQ6IDAuMjVyZW07XG4gICAgLnNlbGVjdGVkLWljb24ge1xuICAgICAgICBiYWNrZ3JvdW5kLWNvbG9yOiB2YXIoLS1mb3JtLWJnKTtcbiAgICAgICAgYm9yZGVyOiAxcHggc29saWQgdmFyKC0tY29udGVudC1ib3JkZXIpO1xuICAgICAgICBkaXNwbGF5OiBmbGV4O1xuICAgICAgICBqdXN0aWZ5LWNvbnRlbnQ6IGNlbnRlcjtcbiAgICAgICAgYWxpZ24taXRlbXM6IGNlbnRlcjtcbiAgICAgICAgaGVpZ2h0OiAzcmVtO1xuICAgICAgICB3aWR0aDogM3JlbTtcbiAgICAgICAgc3ZnIHtcbiAgICAgICAgICAgIGhlaWdodDogMi41cmVtO1xuICAgICAgICAgICAgb2JqZWN0LWZpdDogY29udGFpbjtcbiAgICAgICAgICAgIHdpZHRoOiAyLjVyZW07XG4gICAgICAgIH1cbiAgICB9XG4gICAgLnBpY2tlci1jb250YWluZXIge1xuICAgICAgICBiYWNrZ3JvdW5kLWNvbG9yOiB2YXIoLS1wYW5lbC1iZyk7XG4gICAgICAgIGJvcmRlcjogMXB4IHNvbGlkIHZhcigtLWNvbnRlbnQtYm9yZGVyKTtcbiAgICAgICAgZGlzcGxheTogbm9uZTtcbiAgICAgICAgbWFyZ2luLWJsb2NrLXN0YXJ0OiAwLjI1cmVtO1xuICAgICAgICB3aWR0aDogMTAwJTtcbiAgICAgICAgLmhlYWRlciB7XG4gICAgICAgICAgICBkaXNwbGF5OiBmbGV4O1xuICAgICAgICAgICAgZmxleC1mbG93OiByb3cgbm93cmFwO1xuICAgICAgICAgICAganVzdGlmeS1jb250ZW50OiBzcGFjZS1iZXR3ZWVuO1xuICAgICAgICAgICAgLnNlYXJjaCB7XG4gICAgICAgICAgICAgICAgZGlzcGxheTogZmxleDtcbiAgICAgICAgICAgICAgICBmbGV4LWZsb3c6IHJvdyBub3dyYXA7XG4gICAgICAgICAgICAgICAgZ2FwOiAxcmVtO1xuICAgICAgICAgICAgICAgIGFsaWduLWl0ZW1zOiBjZW50ZXI7XG4gICAgICAgICAgICAgICAgcGFkZGluZzogMC4yNXJlbSAxcmVtO1xuICAgICAgICAgICAgICAgIGxhYmVsIHtcbiAgICAgICAgICAgICAgICAgICAgZm9udC13ZWlnaHQ6IDUwMDtcbiAgICAgICAgICAgICAgICB9XG4gICAgICAgICAgICAgICAgLnRsX3RleHQge1xuICAgICAgICAgICAgICAgICAgICBiYWNrZ3JvdW5kLWNvbG9yOiB2YXIoLS1mb3JtLWJnKTtcbiAgICAgICAgICAgICAgICAgICAgbWF4LXdpZHRoOiAyNTBweDtcbiAgICAgICAgICAgICAgICB9XG4gICAgICAgICAgICB9XG4gICAgICAgICAgICBidXR0b24uY2xvc2Uge1xuICAgICAgICAgICAgICAgIGFwcGVhcmFuY2U6IG5vbmU7XG4gICAgICAgICAgICAgICAgYmFja2dyb3VuZC1jb2xvcjogdHJhbnNwYXJlbnQ7XG4gICAgICAgICAgICAgICAgYm9yZGVyOiBub25lO1xuICAgICAgICAgICAgICAgIGJvcmRlci1sZWZ0OiAxcHggc29saWQgdmFyKC0tY29udGVudC1ib3JkZXIpO1xuICAgICAgICAgICAgICAgIGhlaWdodDogc3RyZXRjaDtcbiAgICAgICAgICAgICAgICB0cmFuc2l0aW9uOiBiYWNrZ3JvdW5kIDAuMnMgZWFzZTtcbiAgICAgICAgICAgICAgICB3aWR0aDogNDRweDtcbiAgICAgICAgICAgICAgICAmOmhvdmVyIHtcbiAgICAgICAgICAgICAgICAgICAgYmFja2dyb3VuZC1jb2xvcjogdmFyKC0tZm9ybS1idXR0b24taG92ZXIpO1xuICAgICAgICAgICAgICAgICAgICBjdXJzb3I6IHBvaW50ZXI7XG4gICAgICAgICAgICAgICAgfVxuICAgICAgICAgICAgfVxuICAgICAgICB9XG4gICAgICAgIC5lcnJvcntcbiAgICAgICAgICAgIGNvbG9yOiB2YXIoLS1yZWQpO1xuICAgICAgICAgICAgcGFkZGluZzogMXJlbTtcbiAgICAgICAgfVxuICAgICAgICAuaWNvbi1zZWxlY3RvciB7XG4gICAgICAgICAgICBiYWNrZ3JvdW5kLWNvbG9yOiB2YXIoLS1wYW5lbC1iZyk7XG4gICAgICAgICAgICBib3JkZXItdG9wOiAxcHggc29saWQgdmFyKC0tY29udGVudC1ib3JkZXIpO1xuICAgICAgICAgICAgZGlzcGxheTogZ3JpZDtcbiAgICAgICAgICAgIGdhcDogMXB4O1xuICAgICAgICAgICAgZ3JpZC10ZW1wbGF0ZS1jb2x1bW5zOiByZXBlYXQoYXV0by1maWxsLCBtaW5tYXgoNnJlbSwgMWZyKSk7XG4gICAgICAgICAgICBtYXgtaGVpZ2h0OiA2MDBweDtcbiAgICAgICAgICAgIG92ZXJmbG93OiBhdXRvO1xuICAgICAgICAgICAgLmljb24taXRlbSB7XG4gICAgICAgICAgICAgICAgYmFja2dyb3VuZC1jb2xvcjogdmFyKC0tZm9ybS1iZyk7XG4gICAgICAgICAgICAgICAgY3Vyc29yOiBwb2ludGVyO1xuICAgICAgICAgICAgICAgIGRpc3BsYXk6IGZsZXg7XG4gICAgICAgICAgICAgICAgZmxleC1mbG93OiBjb2x1bW47XG4gICAgICAgICAgICAgICAgZ2FwOiAxcmVtO1xuICAgICAgICAgICAgICAgIHBhZGRpbmc6IDAuNXJlbTtcbiAgICAgICAgICAgICAgICBhbGlnbi1pdGVtczogY2VudGVyO1xuICAgICAgICAgICAgICAgIHRleHQtYWxpZ246IGNlbnRlcjtcbiAgICAgICAgICAgICAgICBqdXN0aWZ5LWNvbnRlbnQ6IHNwYWNlLWJldHdlZW47XG4gICAgICAgICAgICAgICAgLmljb24ge1xuICAgICAgICAgICAgICAgICAgICBmb250LXNpemU6IDJyZW07XG4gICAgICAgICAgICAgICAgICAgIGhlaWdodDogMnJlbTtcbiAgICAgICAgICAgICAgICAgICAgbGluZS1oZWlnaHQ6IDE7XG4gICAgICAgICAgICAgICAgICAgIHdpZHRoOiAycmVtO1xuICAgICAgICAgICAgICAgICAgICBzdmcge1xuICAgICAgICAgICAgICAgICAgICAgICAgaGVpZ2h0OiAxMDAlO1xuICAgICAgICAgICAgICAgICAgICAgICAgb2JqZWN0LWZpdDogY29udGFpbjtcbiAgICAgICAgICAgICAgICAgICAgICAgIHdpZHRoOiAxMDAlO1xuICAgICAgICAgICAgICAgICAgICB9XG4gICAgICAgICAgICAgICAgfVxuICAgICAgICAgICAgICAgIC5sYWJlbCB7XG4gICAgICAgICAgICAgICAgICAgIGZvbnQtc2l6ZTogMC43NXJlbTtcbiAgICAgICAgICAgICAgICAgICAgb3BhY2l0eTogMC42O1xuICAgICAgICAgICAgICAgIH1cbiAgICAgICAgICAgICAgICAmOmhvdmVyIHtcbiAgICAgICAgICAgICAgICAgICAgYmFja2dyb3VuZC1jb2xvcjogdmFyKC0tZm9ybS1iZy1ob3Zlcik7XG4gICAgICAgICAgICAgICAgfVxuICAgICAgICAgICAgICAgICYuYWN0aXZlIHtcbiAgICAgICAgICAgICAgICAgICAgYmFja2dyb3VuZC1jb2xvcjogdmFyKC0tYWN0aXZlLWJnKTtcbiAgICAgICAgICAgICAgICB9XG4gICAgICAgICAgICB9XG4gICAgICAgIH1cbiAgICAgICAgdHVyYm8tZnJhbWUge1xuICAgICAgICAgICAgYmFja2dyb3VuZC1jb2xvcjogdmFyKC0tZm9ybS1iZyk7XG4gICAgICAgICAgICBkaXNwbGF5OiBibG9jayAhaW1wb3J0YW50O1xuICAgICAgICAgICAgJjpoYXMoLmxvYWRpbmctc3Bpbm5lcikge1xuICAgICAgICAgICAgICAgIHBhZGRpbmctYmxvY2s6IDFyZW07XG4gICAgICAgICAgICB9XG4gICAgICAgIH1cbiAgICAgICAgLmxvYWRpbmctc3Bpbm5lciB7XG4gICAgICAgICAgICBib3JkZXI6IDNweCBzb2xpZCB2YXIoLS1jb250ZW50LWJvcmRlcik7XG4gICAgICAgICAgICBib3JkZXItdG9wLWNvbG9yOiB2YXIoLS1jb250YW8pO1xuICAgICAgICAgICAgYm9yZGVyLXJhZGl1czogNTAlO1xuICAgICAgICAgICAgd2lkdGg6IDJyZW07XG4gICAgICAgICAgICBoZWlnaHQ6IDJyZW07XG4gICAgICAgICAgICBhbmltYXRpb246IHNwaW4gMC44cyBsaW5lYXIgaW5maW5pdGU7XG4gICAgICAgICAgICBtYXJnaW4taW5saW5lOiBhdXRvO1xuICAgICAgICB9XG4gICAgICAgICYuYWN0aXZlIHtcbiAgICAgICAgICAgIGRpc3BsYXk6IGJsb2NrO1xuICAgICAgICB9XG4gICAgfVxufVxuXG5Aa2V5ZnJhbWVzIHNwaW4ge1xuICAgIHRvIHtcbiAgICAgICAgdHJhbnNmb3JtOiByb3RhdGUoMzYwZGVnKTtcbiAgICB9XG59XG4iXSwibmFtZXMiOltdLCJzb3VyY2VSb290IjoiIn0=*/