.svg-icon-picker {
    display: flex;
    flex-flow: row wrap;
    gap: 0.25rem 0.75rem;
    align-items: center;
    margin-block-start: 0.25rem;
    .selected-icon {
        background-color: var(--form-bg);
        border: 1px solid var(--content-border);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 3rem;
        width: 3rem;
        svg {
            height: 2.5rem;
            object-fit: contain;
            width: 2.5rem;
        }
    }
    .picker-container {
        background-color: var(--panel-bg);
        border: 1px solid var(--content-border);
        display: none;
        margin-block-start: 0.25rem;
        width: 100%;
        .header {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            .search {
                display: flex;
                flex-flow: row nowrap;
                gap: 1rem;
                align-items: center;
                padding: 0.25rem 1rem;
                label {
                    font-weight: 500;
                }
                .tl_text {
                    background-color: var(--form-bg);
                    max-width: 250px;
                }
            }
            button.close {
                appearance: none;
                background-color: transparent;
                border: none;
                border-left: 1px solid var(--content-border);
                height: stretch;
                transition: background 0.2s ease;
                width: 44px;
                &:hover {
                    background-color: var(--form-button-hover);
                    cursor: pointer;
                }
            }
        }
        .icon-selector {
            background-color: var(--panel-bg);
            border-top: 1px solid var(--content-border);
            display: grid;
            gap: 1px;
            grid-template-columns: repeat(auto-fill, minmax(6rem, 1fr));
            max-height: 600px;
            overflow: auto;
            .icon-item {
                background-color: var(--form-bg);
                cursor: pointer;
                display: flex;
                flex-flow: column;
                gap: 1rem;
                padding: 0.5rem;
                align-items: center;
                text-align: center;
                justify-content: space-between;
                .icon {
                    font-size: 2rem;
                    height: 2rem;
                    line-height: 1;
                    width: 2rem;
                    svg {
                        height: 100%;
                        object-fit: contain;
                        width: 100%;
                    }
                }
                .label {
                    font-size: 0.75rem;
                    opacity: 0.6;
                }
                &:hover {
                    background-color: var(--form-bg-hover);
                }
                &.active {
                    background-color: var(--active-bg);
                }
            }
        }
        &.active {
            display: block;
        }
    }
}
